{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#facts_modal').modal('show');

            $('#weather_table').DataTable();

        });

    </script>

    <div class="btn btn-group" role="group" aria-label="Basic example">
    {% for country in countries %}
        <a class="btn btn-primary" href="{% url 'view_all' %}?country={{ country }}" role="button">{{ country }}</a>
        <a class="btn btn-primary" href="{% url 'export_to_csv' %}?country={{ country }}" role="button">Export to CSV</a>
    {% endfor %}
    </div>

    <table id="weather_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Country</th>
            <th>Year</th>
            <th>Property</th>
            <th>Jan</th>
            <th>Feb</th>
            <th>Mar</th>
            <th>Apr</th>
            <th>May</th>
            <th>Jun</th>
            <th>July</th>
            <th>Aug</th>
            <th>Sep</th>
            <th>Oct</th>
            <th>Nov</th>
            <th>Dec</th>
            <th>Winter</th>
            <th>Summer</th>
            <th>Spring</th>
            <th>Autumn</th>
            <th>Annual</th>
        </tr>
        </thead>

        <tbody>

        {% for climate in climates %}
            <tr>
                <td>{{ climate.region }}</td>
                <td>{{ climate.year }}</td>
                <td>{{ climate.prop }}</td>
                <td>{{ climate.jan }}</td>
                <td>{{ climate.feb }}</td>
                <td>{{ climate.mar }}</td>
                <td>{{ climate.apr }}</td>
                <td>{{ climate.may }}</td>
                <td>{{ climate.jun }}</td>
                <td>{{ climate.jul }}</td>
                <td>{{ climate.aug }}</td>
                <td>{{ climate.sep }}</td>
                <td>{{ climate.oct }}</td>
                <td>{{ climate.nov }}</td>
                <td>{{ climate.dec }}</td>
                <td>{{ climate.win }}</td>
                <td>{{ climate.sum }}</td>
                <td>{{ climate.spr }}</td>
                <td>{{ climate.aut }}</td>
                <td>{{ climate.ann }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% include 'uk_climate/facts_model.html' %}


{% endblock %}