{% extends "base.html" %}
{% load static %}

{% block title %}UK Climate: {% endblock %}

{% block content %}

    <div class="card card-block">

        <h4 class="card-title">Create and View Weather Data</h4>

        <div class="wrapper card">
            <a class="btn btn-primary" href="{% url 'all' %}" role="button">All Country Data</a>
        </div>

        <div class="wrapper card">
            {% for country in countries %}
                <a class="btn btn-primary" href="{% url 'climate_by_country' country %}"
                   role="button">{{ country|capfirst }}</a>
            {% endfor %}
        </div>

    </div>


    <div class="card card-block">

        <h4 class="card-title">View Weather Data</h4>

        <div class="wrapper card">
            <a class="btn btn-primary" href="{% url 'view_all' %}" role="button">All Country Data</a>
        </div>

        <div class="wrapper card">
            {% for country in countries %}
                <a class="btn btn-primary" href="{% url 'view_all' %}?country={{ country }}"
                   role="button">{{ country|capfirst }}</a>
            {% endfor %}
        </div>

    </div>

{% endblock %}