<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#facts_modal">
  View Facts
</button>

<!-- Modal -->
<div class="modal fade" id="facts_modal" tabindex="-1" role="dialog" aria-labelledby="facts_modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="facts_modalLabel">Did You Know??</h4>
      </div>
      <div class="modal-body">
        <h5>
            In {{ min_temp.year }}, {{ min_temp.region }} reached the minimum temperature in UK of all time which is {{ min_temp.win }}.
        </h5>
          <h5>
            In {{ max_temp.year }}, {{ max_temp.region }} reached the maximum temperature in UK of all time which is {{ max_temp.sum }}.
        </h5>
          <h5>
            In {{ max_rainfall.year }}, {{ max_rainfall.region }} got maximum rainfall in UK of all time which is {{ max_rainfall.ann }}.
        </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>